controller:
  installPlugins:
    - kubernetes:4029.v5712230ccb_f8
    - kubernetes-client-api:6.8.1-224.vd388fca_4db_3b_
    - git:5.2.0
    - configuration-as-code:1670.v564dc8b_982d0
    - bitbucket:223.vd12f2bca5430
    - aws-codecommit-jobs:0.3.0
    - gitlab-plugin:1.5.35
    - github
    - slack:616.v03b_1e98d13dd
    - prometheus:2.0.11
    - cloudbees-disk-usage-simple:178.v1a_4d2f6359a_8
    - workflow-aggregator:590.v6a_d052e5a_a_b_5
    - dependency-check-jenkins-plugin:5.2.1
  resources:
    limits:
      cpu: 1000m
      memory: 2.5Gi
    requests:
      cpu: 100m
      memory: 1300Mi

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
            - key: "Infra-Services"
              operator: In
              values:
              - "true"

